.float-container {
    border: 3px solid #000;
    height: 65px;
    align-items: center;
    display: flex;
}

.float-child {
    width: 10%;
    float: left;
    /* border: 2px solid red; */
}  
.float-child-2 {
    width: 80%;
    float: left;
    /* border: 2px solid red; */
}  
.float-child-3 {
    width: 10%;
    float: left;
    /* border: 2px solid red; */
}  

.w-40 {
    width: 40px !important;
}